/*********************
COLOURS
*********************/

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$white:     #FFFFFF;
$hmargin:   70px;
$vmargin:   20px;


/*********************
TYPOGRAPHY
*********************/

$regular: "proxima_nova_ltregular", Helvetica, Arial, sans-serif; 
// $regular: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$bold:    "proxima_nova_ltbold", Helvetica, Arial, sans-serif; 
$weather: "climacons", sans-serif;

@font-face {
    font-family: 'proxima_nova_ltregular';
    src: url('../font/proximanova-light-webfont.eot');
    src: url('../font/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova-light-webfont.woff') format('woff'),
         url('../font/proximanova-light-webfont.ttf') format('truetype'),
         url('../font/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../font/proximanova-regular-webfont.eot');
    src: url('../font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova-regular-webfont.woff') format('woff'),
         url('../font/proximanova-regular-webfont.ttf') format('truetype'),
         url('../font/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltbold';
    src: url('../font/proximanova-semibold-webfont.eot');
    src: url('../font/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova-semibold-webfont.woff') format('woff'),
         url('../font/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../font/proximanova-semibold-webfont.svg#proxima_nova_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'climacons';
    src: url('../font/climacons-webfont.eot');
    src: url('../font/climacons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/climacons-webfont.woff') format('woff'),
         url('../font/climacons-webfont.ttf') format('truetype'),
         url('../font/climacons-webfont.svg#proxima_nova_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}